<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
      <h1>The Following Server is Down:-</h1>
      =========================================================================

      <h3>Name:- <%= @server.name %></h3><br />
      <h3>Url:- <%= @server.url %></h3>
  </body>
</html>