<% server = @server if @server.present? %>
<div class="widget-box">
    <div class="widget-title">
        <h5>Contacts</h5>
        <div class="buttons">
          <%= link_to '#', class: 'btn btn-mini btn-success',  title: "add new contact", id:'new_contact_link', 'data-toggle' =>"modal", 'data-target' =>"#contactModal" do %>
            <i class="icon-plus-sign icon-white"></i> Add New Contact
          <% end %>
        </div>
    </div>
    <div class="widget-content nopadding">
        <table id="table_already_added_contacts" class="table table-striped table-hover">
            <thead>
            
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
        <tbody>
            
            <% contacts_added = server.contacts.reverse %>
            <% contacts_added.each do |contact| %>
                <tr>
                    <td>
                        <%= contact.name %>
                    </td>
                    <td>
                        <%= contact.email %>
                    </td>
                    <td>
                      <%= link_to server_contacts_server_path(server, contact), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, title: "destroy" do %>
                        <i class="icon-trash"></i>
                      <% end %>
                    </td>
                </tr>
                
                <% end %>
            <tbody>
        </table>
                
    </div>
</div>                
