    <% server = @server if @server.present? %>
    <legend>Contact</legend>
    <table id="table_already_added_contacts" class="table table-bordered table-striped">
      <thead>  
        <tr>
        <td>Name:</td>
        <td>Email:</td>
        <td></td>
        </tr>
      </thead>
      <tbody>  
        <% contacts_added = server.contacts.reverse %>
        <% contacts_added.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td><%= link_to 'Delete', server_contacts_server_path(server, contact), confirm:'Are you sure?', method: :delete, remote: true %></td>
          </tr> 
        <% end %>
    </tbody>
    </table>    
