<div id="head_javascript"> 
   <%= render partial: "head_javascript_content" %>
</div>

<legend>Editing server</legend>

<div id="left_form">
  <%= render 'form' %>
</div>

<div id="already_added_contacts">
   <%= render 'contacts' %>
</div> 