<div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="icon-align-justify">
            </i>
        </span>
        <h5>
            New Server
        </h5>
    </div>
  
 <%= render 'form' %>
    
    
    