<div class="widget-box">
    <div class="widget-title">
        <h5>
            Contacts
        </h5>
        <div class="buttons">
          <%= link_to '#', class: 'btn btn-mini btn-success',  title: "add new contact", 'data-toggle' =>"modal", 'data-target' =>"#contactModal" do %>
            <i class="icon-plus-sign icon-white"></i> Add New Contact
          <% end %>            
        </div>
    </div>
    <div id="all_contacts">
        <%= render 'contacts' %>
    </div>
</div>
    
    