/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require dataTables/jquery.dataTables.bootstrap
 *= require_tree .
*/

.last-updated-at { font-size: 10px; }

.main-body{
  min-height:600px;
  height:auto !important;
  height:700px; 
}

.server-status{
	color: #BBBBBB;
	float: right;
	margin: 4px 10px 0 0;
	text-align: center;
	width: 45px;
}

.server-updated-at{
	font-size: 11px;
	color: grey;
}

.DataTables_sort_wrapper{
	text-align: left;
}

#header h1 {
	background: url("/assets/logo.png") no-repeat scroll 0 0 transparent;
	height: 44px;
	left: 15px;
	line-height: 600px;
	overflow: hidden;
	position: absolute;
	top: 11px;
	width: 191px;
}